<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<nav th:replace="fragments/header :: nav_bar"></nav>
	<br><br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 md-6 col-sm-6 container justify-content-center card"></div>
			<h1 class="text-center">Create New Student</h1>
			<div class="card-body">
				<form th:action="@{/students}" th:object="${student}" method="POST">
					<div class="form-group">
						<label>Student First Name</label> <input type="text"
							name="firstName" th:field="*{firstName}"
							placeholder="Enter Student FirstName" />

					</div>
					<div class="form-group">
						<label>Student LastName</label> <input type="text" name="lastName"
							th:field="*{lastName}" placeholder="Enter Student LastName" />

					</div>
					<div class="form-group">
						<label>Student Email</label> <input type="text" name="email"
							th:field="*{email}" placeholder="Enter Student Email" />

					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</body>
</html>